body{
    font-family: 'Uchen', serif;
    margin: 0%;
   
}
h1{font-size: 30px;}
.span{
    color:rgb(70, 216, 25);
}
section{
    
    height: 500px;
    padding-bottom: 150px;
}
.half-width{
    width: 50%;
    
    margin-left: 5%;
    padding-left: 2%;
    
}
.third-width{
    width: 33%;
    box-shadow: 20px 40px saddlebrown;
    padding: 2px;
}
.third-width img{
    
    width: 100%;
}
.half-width img{
    width: 70%;
}
.anchor-tag{
    text-decoration: none;
    background-image: linear-gradient(rgb(209, 142, 17), tomato);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 800;
}
.background{
    background-image: url(image/7.png);
}
/* ====================================================== */
.pasa-pasi{
    display: flex;
}
.title{
    text-align: center;
}